body 
{
    font-family: Tahoma;
    background: url("../imeges/background1.jpg") no-repeat ;
    direction:rtl;
    width: 960px;
    margin:0 auto;
    background-size: 1300px;
}
h1 {
     font-size:60pt;
     padding-right: 120px;
     font-family: Tahoma;
     color: darkorchid;
}
#about {
     padding: 40px 90px 40px 0px;

    font-size:22pt;
    text-align:center;
    font-family: Tahoma;
    width: 700px;
}
#profilePic {
    font-size:18pt;

}
#me {

 float:right;
}

div.panel {
    display: inline-block;
    padding: 25px 50px;

}



.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.snapchat:before {
  background-color: #ffeb3b;
}
.social-btns .btn.snapchat .fa {
  color: #ffeb3b;
}
.social-btns .btn.instagram:before {
  background-color: #8a3ab9;
}
.social-btns .btn.instagram .fa {
  color: #8a3ab9;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}


/* tabs CSS */

   @import url(http://fonts.googleapis.com/css?family=Nunito:700|Carme);

.contenedor-tabs {
  width: 100%;
  max-width: 600px;
	margin: 20px auto 0;
	position: relative;
}

span.headline {
	/*no jump */
	display: none;
	}

.tab div {
  background: #8AA9B8;
  width: 100%;
  position: absolute;
  top: 1rem;
  left: 0;
  padding: 2rem;
  font-size: 1.2rem;
  font-family: carme, sans-serif;
  color: #fff;
  line-height: 1.2;
  z-index: 5;
  opacity:0;
  border-radius: 0 5px 5px;
  transition: all 1s ease;
 }

.tab .tab-e {
  margin-top: -1rem;
  float: left;
  width: 20%;
  min-width: 85px;
  padding: 5px;
  background: #445;
  margin-right: 3px;
  text-decoration: none;
  font-family: nunito, sans-serif;
  font-size: 1.3rem;
  color: #dfdfdf;
  text-align: center;
  position: relative;
  border-radius: 5px 5px 0 0;
  transition: all .5s ease;
 }

a.tab-e:hover {
  color: #bbb;
 }
  p img {float: left; width: 20%;}
  
.headline:target + .tab div {
  opacity: 1;
	background: #8AA9B8;
  color: #fff;    
 }


.headline:target + .tab .tab-e {
  background: #8AA9B8;
  color: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
 }

@media screen and (max-width:370px)
 {
	.contenedor-tabs {
    width: 100%;
    min-width: 370px;
    margin: 2.5rem 0;
  }
  .tab div {
    font-size: 1rem;
    line-height: 1.1;
    padding: 1rem 5px;
    width: 100%;
  }  
  .tab .tab-e {
		font-size: 1rem;
		padding: .5rem 0;
    text-align: center;
    line-height: 1.5rem;
    width: 25%;
    margin-right: 0;
	}
 }

